:root {
    --color1: #3a3042;
    --color2: #db9d47;
    --color3: #ff784f;
    --color4: #ffe19c;
    --color5: #edffd9;
}

body {
    background: #eee;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: var(--color1);
}

.flex-container {
    display: flex;
    max-width: 900px;
    justify-content: space-evenly;
    margin: 30px auto;
}

.example {
    flex: 1;
    background: #fff;
    padding: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

pre {
    flex: 1;
}

.hljs {
    background: unset;
}

.code {
    display: flex;
    flex: 1;
    align-items: center;
    background: var(--color4);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container {
    border-radius: 10px;
    background: var(--color1);
}

.inner-container {
    border-radius: 10px;
    border: 1px dashed var(--color3);
}

.content,
.inner-content {
    border-radius: 10px;
    background: var(--color4);
}

/* EXAMPLE 1 */
#example1 .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#example1 .content {
    box-sizing: border-box;
    flex-basis: 45%;
    height: 400px;
}

/* EXAMPLE 2 */
#example2 .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 400px;
}

#example2 .content {
    flex-basis: 30%;
}

/* EXAMPLE 3 */
#example3 .container {
    display: flex;
    padding: 20px;
    height: 400px;
}

#example3 .inner-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
    padding: 10px;
}

#example3 .content {
    flex: 1;
    margin: 10px;
}

#example3 .inner-content {
    flex-basis: 48%;
}

/* EXAMPLE 4 */
#example4 .example {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
#example4 .container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#example4 .circle {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: var(--color4);
}

#example4 .inner-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
}

#example4 .content {
    flex-basis: 45%;
}
